@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900')
html
	background-image linear-gradient(60deg, rgb(255, 91, 91), rgb(0, 0, 255))
html, body
	margin 0
	width 100%
	min-height 100%
	position relative
	font-family 'Montserrat'
	a
		text-decoration none
		color inherit
::selection
	color #2f2f2f
	background white
::-moz-selection
	background white
	color #2f2f2f
.menu
	width 100%
	height 70px
	padding 10px
	top 0 !important
	background transparent
	color white
	box-sizing border-box
	display flex
	align-items center
	justify-content space-between
	z-index 999
	&__slot
		height 100%
		display flex
		align-items center
		justify-content center
	&__button
		position relative
		height 100%
		min-width 120px
		margin-left 15px
		font-weight 300
		cursor pointer
		padding 10px 20px
		border 4px solid transparent
		box-sizing border-box
		display flex
		align-items center
		justify-content center
		text-transform uppercase
		transition-duration .1s
		&--primary
			border 4px solid white
			font-weight 400
		&:hover
			background white
			color #333
			opacity .9
			.tooltip
				width 100%
				height 51px
				opacity 1
				top 125%
				box-sizing border-box
.header
	margin 0
	padding 0 42px
	box-sizing border-box
	position relative
	overflow hidden
	min-height 100vh
	&__image
		position absolute
		right 40px
		top 0px
		z-index -1
	&:after
		height 300px
		width 200%
		position absolute
		bottom -38px
		left -50px
		box-sizing border-box
		margin 0
		padding-right 168px
		content ''
		background white
		transform rotate(-7deg)

.headline
	display block
	box-sizing border-box
	width 65vw
	max-width 525px
	font-weight 900
	font-size 5.5em
	color white

.tooltip
	opacity 0
	position absolute
	text-align center
	top 50%
	cursor default
	left 0
	right 0
	width 0
	height 0
	font-size .7em
	padding 13px 20px
	background #222
	color white
	transition opacity,height,top .27s
	transition-timing-function cubic-bezier(0,0,0,1.48)
	overflow hidden
	z-index 999
#presets
	background white
.presets
	display grid
	grid-template 1fr / 1fr 1fr
	background white
	grid-gap 15px
	width 100%
	max-width 1400px
	margin 0 auto
	padding 50px 10px
	box-sizing border-box
.preset
	padding 10px
	box-sizing border-box
	border 1px solid #ddd
	&__title
		width 100%
		font-weight 900
		font-size 1.3em
		display block
		color #6f689a
		&:after
			content ''
			display block
			width 90px
	&__gradient
		width 100%
		height 300px
		margin 10px auto
		display block
		border 4px solid white
		box-sizing border-box
		position relative
	&__credits
		color #6f689a
		display block
section
	width 100%
	padding  0 10px 30px 10px
	text-align center
	background white
	box-sizing border-box
footer
	width 100%
	bottom 0 !important
	box-sizing border-box
	padding 10px 0
	color white
	text-align center

@media screen and (max-width: 830px)
	.menu
		flex-direction column
		display block
		position unset
		height auto
		&__slot
			display block
			height auto
		&__button
			height auto
			margin 10px 0
			font-size 1.3em
	.header
		padding 25px
	.headline
		width 100%
		margin 0 auto
		max-width 100%
	.tooltip
		display none
@media screen and (max-width: 670px)
	.header
		padding 0
		min-height 75vh
		&:after
			height 150px
	.headline
		font-size 3em
		text-align center
	.presets
		grid-template 1fr / 1fr
