html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet' type='text/css' href='style.css')
	body
		.menu
			.menu__slot
				.menu__button.menu__button--logo Gradientify.js
			.menu__slot
				.menu__button Intro
				.menu__button Download
		script(src='gradientify.js')
		script(src='index.js')