html
	head
		title Gradientify.js
		meta(charset='UTF-8')
		link(rel='stylesheet' type='text/css' href='style.css')
		link(rel='stylesheet' type='text/css' href='gradientify.css')
	body
		.menu
			.menu__slot
				.menu__button Gradientify.js
			.menu__slot
				.menu__button Intro
				.menu__button Download
		.header#header
			.headline
				p Animated backgrounds made easy
		.header
		.header
		script(src='gradientify.js')
		script(src='index.js')