html
	head
		title Gradientify.js
		meta(charset='UTF-8')
		link(rel='stylesheet' type='text/css' href='css/style.css')
		link(rel='stylesheet' type='text/css' href='https://cdn.rawgit.com/karolsw2/gradientify.js/06564801/build/gradientify.css')
	body
		.menu
			.menu__slot
				a.menu__button(target='_blank' href='https://github.com/karolsw2/gradientify.js') Gradientify.js
			.menu__slot
				a.menu__button(target='_blank' href='https://github.com/karolsw2/') My Github
				a.menu__button.menu__button--primary(target='_blank' href='https://github.com/karolsw2/gradientify.js/tree/master/build') Download
		.header#header
			.headline
				p Animated backgrounds made easy
		script(src='https://cdn.rawgit.com/karolsw2/gradientify.js/06564801/build/gradientify.js')
		script(src='js/index.js')