@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900')
html, body
	margin 0
	width 100%
	min-height 100%
	font-family 'Montserrat'
	a
		text-decoration none
		color inherit
::selection
	color #2f2f2f
	background white
::-moz-selection 
	background white
	color #2f2f2f
.menu
	width 100%
	height 70px
	padding 10px
	position fixed
	top 0 !important
	background transparent
	color white
	box-sizing border-box
	display flex
	align-items center
	justify-content space-between
	&__slot
		height 100%
		display flex
		align-items center
		justify-content center
	&__button
		position relative
		height 100%
		min-width 120px
		margin-left 15px
		font-weight 300
		cursor pointer
		padding 10px 20px
		border 4px solid transparent 
		box-sizing border-box
		display flex
		align-items center
		justify-content center
		text-transform uppercase
		transition-duration .1s
		&--primary
			border 4px solid white
			font-weight 400
		&:hover
			background white
			color #333
			opacity .9
			.tooltip
				width 90%
				height 14px
				opacity 1
				top 125%
.header
	margin 0
	padding 10px
	box-sizing border-box
.headline
	display block
	position absolute
	box-sizing border-box
	top 90px
	left 60px
	width 65vw
	font-weight 900
	font-size 5.5em
	color white
.tooltip
	opacity 0
	position absolute
	text-align center
	top 50%
	cursor default
	width 0
	height 0
	font-size .7em
	padding 13px 20px
	background #222
	color white
	transition opacity,height,top .27s
	transition-timing-function cubic-bezier(0,0,0,1.48)
	overflow hidden
	z-index 999
@media screen and (max-width: 830px)
	.menu
		flex-direction column
		display block
		position unset
		height auto
		&__slot
			display block
			height auto
		&__button
			height auto
			margin 10px 0
			font-size 1.3em
	.headline
		display block
		position unset
		text-align center
		width 100%
		height auto
		margin-top 30px
	.tooltip
		display none
@media screen and (max-width: 670px)
	.headline
		font-size 2.5em

